<!-- modal-shell — variant: default -->
<!-- sample page: homepage -->
<!-- selector: .bat-modal -->
<div id="ageGate" class="bat-modal   " role="dialog" aria-modal="true" aria-labelledby="agegate-heading">
    <div class="bat-modal-content     ">
					<div class="bat-agegate--zonnic-content">
		
						<div class="bat-agegate--zonnic-content-image">
							<picture>
								
									<source media="(min-width: 768px)" srcset="/content/dam/zonnic-content/ca/2025/logo/ZONNIC Logo_Mint_Gradient (1).svg">
								
								
								<img loading="lazy" src="/content/dam/zonnic-content/ca/2025/logo/ZONNIC Logo_Mint_Gradient (1).svg" alt="" "="">
								
							</picture>				</div>
						<div class="bat-agegate--zonnic-content-language-list">
								<a href="/ca/en" class="bat-language button active">English</a>
								<a href="/ca/fr" class="bat-language button ">Français</a>
						</div>
						<div class="bat-agegate--zonnic-content-greeting">
							<div id="agegate-heading" class="bat-agegate--zonnic-content-greeting-headline">
								<h2>
									Welcome to Zonnic
								</h2>					</div>
							<div class="bat-agegate--zonnic-content-greeting-text">
								<p><span class="sm dark"><b>ZONNIC</b> products are not intended for use by persons under the age of 18. Please confirm that you are 18 years of age or older.</span><br>
		</p>
		
							</div>
		
								<form data-input="true" class="bat-agegate--zonnic-content-input">
									<div>
										<label for="location">SELECT YOUR PROVINCE</label>
										<div class="select-wrapper">
											<select name="location" id="location"><option value="Alberta" data-age="18" selected="selected">Alberta</option><option value="British Columbia" data-age="18">British Columbia</option><option value="Manitoba" data-age="18">Manitoba</option><option value="New Brunswick" data-age="18">New Brunswick</option><option value="Newfoundland and Labrador" data-age="18">Newfoundland and Labrador</option><option value="Nova Scotia" data-age="18">Nova Scotia</option><option value="Ontario" data-age="18">Ontario</option><option value="Prince Edward Island" data-age="18">Prince Edward Island</option><option value="Quebec" data-age="18">Quebec</option><option value="Saskatchewan" data-age="18">Saskatchewan</option></select>
										</div>
									</div>
								</form>
							<div class="bat-agegate--zonnic-content-greeting-middle-text">
								<p><span class="sm dark"><b>ZONNIC</b> is a form of Nicotine Replacement Therapy for adults 18 years of age and older. This product may not be right for you. Always read and follow the label.</span></p>
		
							</div>
							<div class="bat-agegate--zonnic-content-greeting-cta-list">
								<button type="button" data-cta-type="true" class="bat-cta-style button-dark center " id="age-gate-over">
													<span>YES, I AM <span class="age">18+</span></span>
								</button><button type="button" data-cta-type="false" class="bat-cta-style button-secondary-dark  " id="age-gate-under">
													<span>NO, I'M NOT <span class="age">18+</span></span>
								</button>					</div>
							<div class="bat-agegate--zonnic-content-greeting-footnote">
								
							</div>
						</div>
		
						<div class="bat-agegate--zonnic-content-error-message" role="alert" aria-live="assertive">
							<p><span class="xl dark"><b>OOPS!</b></span></p>
		<p><span class="sm dark">You must be at least 18 years of age to enter website.</span></p>
		
						</div>
					</div>
	</div>
</div>