<!-- button — variant: primary -->
<!-- sample page: homepage -->
<!-- selector: .bat-cta-style.button-dark:not(.button-secondary-dark) -->
<a data-cta-type="promo" id="quitzone" class="bat-cta-style button-dark
									   center
									   
									   
									   promo 
									   
									   " href="https://quitzone.zonnic.ca/" target="_blank">
													<span>QuitZone</span>
								</a>

<!-- button — variant: secondary -->
<!-- sample page: homepage -->
<!-- selector: .bat-cta-style.button-secondary-dark -->
<a data-cta-type="internal" title="Learn more" class="bat-cta-style button-secondary-dark
				   center
				   
				   
				   
				   
				   " href="
				   
				   /ca/en/pouches/zonnic-spearmint-24-nicotine-pouches" target="_self">
								<span>Learn more</span>
			</a>

<!-- button — variant: arrow-link -->
<!-- sample page: homepage -->
<!-- selector: a.arrow-link-dark, .bat-cta-style.button-dark.arrow-link-dark -->
<a data-cta-type="internal" class="bat-cta-style arrow-link-dark
		   left
		   
		   
		   
		   
		   " href="
		   
		   /ca/en/blog" target="_self">
						<span>View All</span>
	</a>