<!-- nav-item — variant: desktop -->
<!-- sample page: homepage -->
<!-- selector: .bat-navigation-group-list-item:not(.bat-navigation-group-list-item--zonnic-mobile) -->
<li class="bat-navigation-group-list-item ">
												
						<a data-cta-type="internal" class="bat-cta-style bat-navigation-group-list-item-link
							   
							   
							   
							   
							   
							   " href="https://www.zonnic.ca/ca/en/pouches" target="_self">
															<i class="bat-icon pouches">
																	<svg viewBox="0 0 28 28">
																		<use xlink:href="/content/dam/zonnic-content/ca/2023/icons/icons-sprite-nav.svg#pouches"></use>
																	</svg>
															</i>	
																							<span>NICOTINE POUCHES</span>
						</a>
												
												<!--Level 2-->
											</li>

<!-- nav-item — variant: mobile -->
<!-- sample page: homepage -->
<!-- selector: .bat-navigation-group-list-item--zonnic-mobile -->
<li class="bat-navigation-group-list-item bat-navigation-group-list-item--zonnic-mobile"><a data-cta-type="internal" class="
	   
	   
	   
	   
	   
	   " href="https://www.zonnic.ca/ca/en/healthcare-professionals" target="_self">
									<i class="bat-icon health">
											<svg viewBox="0 0 28 28">
												<use xlink:href="/content/dam/zonnic-content/ca/2023/icons/icons-sprite-nav 2.svg#health"></use>
											</svg>
									</i>	
																		<span>Healthcare Practitioners</span>
									<span class="cta-label" style="display: none;">Healthcare Practitioners</span>
</a></li>