<!-- input — variant: text -->
<!-- sample page: sign-up -->
<!-- selector: .bat-form-field input[type='text'], .bat-form-field input[type='email'] -->
<input placeholder="" id="id_1777567374334_491" name="firstName" type="text" minlength="1" maxlength="75" required="" autocomplete="off" value="" inputmode="text" aria-describedby="firstName-error">

<!-- input — variant: select -->
<!-- sample page: sign-up -->
<!-- selector: .bat-form-field select -->
<select name="user_has_zonnic_can" id="id_1777567381175_500" required="" aria-describedby="user_has_zonnic_can-error">
														<option value="">Please select</option>
														<option value="YES">I already have a Zonnic can</option>
														<option value="NO">I have not tried Zonnic</option>
														<option value="UNSPECIFIED">I don't want to say</option>
												</select>

<!-- input — variant: password -->
<!-- sample page: sign-up -->
<!-- selector: .bat-form-field input[type='password'] -->
<input placeholder="" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9]).{8,}$" id="id_1777567387722_350" name="password" type="password" minlength="1" maxlength="75" required="" value="" inputmode="text" aria-describedby="password-error">