<!-- form-message — variant: error -->
<!-- sample page: sign-up -->
<!-- selector: .bat-form-field .bat-form-msg -->
<div id="email-error" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">Please enter a valid email address.</p>
												</div>
											</div>

<!-- form-message — variant: tip -->
<!-- sample page: sign-up -->
<!-- selector: .bat-form-field .bat-form-field-tip -->
<div class="bat-form-field-tip">
														<button type="button">
															<span>ZONNIC products are not suitable for use by persons under 18 years of age. We require your date of birth to verify your age, as set out in our <a href="/ca/en/privacy-policy" target="_blank">Privacy Policy</a></span>
														</button>
													</div>