<!-- form-field — variant: default -->
<!-- sample page: sign-up -->
<!-- selector: .bat-form-field:not(.bat-form-field--hidden) -->
<div class="bat-form-field bat-form--signup-first-name">
		
											<label for="id_1777567394317_285">
												First Name
											</label>
										<input placeholder="" id="id_1777567394317_285" name="firstName" type="text" minlength="1" maxlength="75" required="" autocomplete="off" value="" inputmode="text" aria-describedby="firstName-error">
											<div id="firstName-error" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">First Name Required.</p>
												</div>
											</div>
		
		
		
		
		
		
		
		
		
								</div>

<!-- form-field — variant: error -->
<!-- sample page: sign-up -->
<!-- selector: .bat-form-field .bat-form-msg:not(:empty) -->
<div id="email-error" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">Please enter a valid email address.</p>
												</div>
											</div>