<!-- contact-form — variant: default -->
<!-- sample page: contact-us -->
<!-- selector: bat-form-signup[data-template-url*='contactUs'], bat-form-signup:has(.bat-form--contact-us-email-first-name), form#step1Form -->
<form id="step1Form" action="https://dgji4twxth.execute-api.us-east-1.amazonaws.com/BATAvalancheAPI-Prod/api/v1/formKeyValueTransform" method="post" novalidate="">
		
		
						<div class="bat-form-block">
		
		
								<div class="bat-form-field bat-form--contact-us-email-email">
		
											<label for="id_1777567539915_661">
												Your Email Address
											</label>
										<input placeholder="" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" id="id_1777567539915_661" name="emailAddress" type="text" minlength="1" maxlength="75" required="" value="" data-autofill="email" aria-describedby="emailAddress-error">
											<div id="emailAddress-error" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">Required.</p>
												</div>
											</div>
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-first-name">
		
											<label for="id_1777567539915_169">
												Your First Name 
											</label>
										<input placeholder="" id="id_1777567539915_169" name="firstName" type="text" minlength="1" maxlength="255" required="" value="" data-autofill="firstName" aria-describedby="firstName-error">
											<div id="firstName-error" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">Required.</p>
												</div>
											</div>
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-last-name">
		
											<label for="id_1777567539915_675">
												Your Last Name
											</label>
										<input placeholder="" id="id_1777567539915_675" name="lastName" type="text" minlength="1" maxlength="255" required="" value="" data-autofill="lastName" aria-describedby="lastName-error">
											<div id="lastName-error" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">Required.</p>
												</div>
											</div>
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-province bat-form-field--hidden">
		
											<label for="user-province_1777567539915_497">
												Province
											</label>
										<input placeholder="" id="user-province_1777567539915_497" name="custom_attributes[regionLocation]" type="hidden" minlength="" maxlength="" value="British Columbia" data-autofill="province" aria-describedby="custom_attributes[regionLocation]-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-recordType bat-form-field--hidden">
		
										<input placeholder="" id="recordType_1777567539915_119" name="recordType" type="hidden" minlength="" maxlength="" value="BAT Zonnic Support - CA" aria-describedby="recordType-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-Origin bat-form-field--hidden">
		
										<input placeholder="" id="Origin_1777567539915_544" name="Origin" type="hidden" minlength="" maxlength="" value="Web" aria-describedby="Origin-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-caseCategory bat-form-field--hidden">
		
										<input placeholder="" id="caseCategory_1777567539915_945" name="custom_attributes[Case_Category__c]" type="hidden" minlength="" maxlength="" value="I want to share my ZONNIC Success" aria-describedby="custom_attributes[Case_Category__c]-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-productBrand bat-form-field--hidden">
		
										<input placeholder="" id="productBrand_1777567539915_8" name="custom_attributes[Product_Brand__c]" type="hidden" minlength="" maxlength="" value="Zonnic" aria-describedby="custom_attributes[Product_Brand__c]-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-contactMethod bat-form-field--hidden">
		
										<input placeholder="" id="contactMethod_1777567539915_979" name="custom_attributes[Contact_Method__c]" type="hidden" minlength="" maxlength="" value="Inbound" aria-describedby="custom_attributes[Contact_Method__c]-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-country bat-form-field--hidden">
		
										<input placeholder="" id="country_1777567539915_675" name="custom_attributes[Country__c]" type="hidden" minlength="" maxlength="" value="CA" aria-describedby="custom_attributes[Country__c]-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-serviceSupport bat-form-field--hidden">
		
										<input placeholder="" id="serviceSupport_1777567539915_499" name="custom_attributes[Type]" type="hidden" minlength="" maxlength="" value="Product Feedback" aria-describedby="custom_attributes[Type]-error">
		
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-subject">
		
											<label for="id_1777567539915_464">
												Subject
											</label>
										<input placeholder="" id="id_1777567539915_464" name="Subject" type="text" minlength="" maxlength="" required="" value="" aria-describedby="Subject-error">
											<div id="Subject-error" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">Required.</p>
												</div>
											</div>
		
		
		
		
		
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-description">
		
		
		
		
		
		
											<label for="Description">Description</label>
											<p class="field-note">*Please feel free to share additional details here.</p>
										<textarea name="Description" placeholder="" rows="4" cols="50" required=""></textarea>
											<div id="" class="bat-message  bat-form-msg error-msg error" role="alert" aria-live="assertive">
												<div class="bat-message-text">
													<p class="sm">This field is required.</p>
												</div>
											</div>
		
		
		
		
								</div>
								<div class="bat-form-field bat-form--contact-us-email-file-upload">
		
		
		
		
		
		
		
		
		
											<label for="id_1777567539915_300">
												File Upload
											</label>
										<input multiple="" id="id_1777567539915_300" name="file-upload" type="file">
		
		
								</div>
						</div>
		
						<div class="bat-form-block">
		
		
								<div class="bat-form-field bat-form--contact-us-email-submit">
		
		
		
		
		
		
		
		
										<button type="submit" class="bat-button bat-button--dark bat-button--secondary" disabled="" data-bound-submit="true">
											<span>Submit Form </span>
										</button>
		
		
		
								</div>
						</div>
				</form>